# Ignore node_modules and npm's debug log
node_modules/
npm-debug.log

# Ignore log files and other generated data
logs/
dist/
*.log
.DS_Store
.env

# Ignore IDE and editor specific files
.idea/
.vscode/
